entry {
    font-size: 16;
    padding: 10;
    margin-bottom: 10;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 16;
    padding: 10;
    margin-top: 20;
}

label {
    font-size: 18;
    margin-top: 20;
}
